<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>

                    {% if site.data.profile.academic_service %}
                    <div class="col-12">
                        <div class="mx-2 my-2">
                            <h6>Academic Service</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in site.data.profile.academic_service %}
                                <li>
                                    <div class="d-flex">
                                        <div>{{ item.name }}</div>
                                        {% if item.date %}
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.awards %}
                    <div class="col-12">
                        <div class="mx-2 my-2">
                            <h6>Honors & Awards</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in site.data.profile.awards %}
                                <li>
                                    <div class="d-flex">
                                        <div>{{ item.name }}</div>
                                        {% if item.date %}
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.talks %}
                    <div class="col-12">
                        <div class="mx-2 my-2">
                            <h6>Talks & Presentations</h6>
                    
                            <div class="table-responsive">
                                <table class="table table-sm table-borderless mb-1 small">
                                    <tbody>
                                        {% for item in site.data.profile.talks %}
                                        <!-- <tr>
                                            <td class="pl-0" style="width: 45%;">{{ item.venue }}</td>
                                            <td style="width: 20%;">{{ item.type }}</td>
                                            <td style="width: 20%;">{{ item.location }}</td>
                                            <td class="text-right pr-0" style="width: 15%;"><em>{{ item.year }}</em></td> -->
                                        <td class="pl-0" style="width: 58%;">{{ item.venue }}</td>
                                        <td style="width: 18%;">{{ item.type }}</td>
                                        <td style="width: 16%;">{{ item.location }}</td>
                                        <td class="text-right pr-0" style="width: 8%;"><em>{{ item.year }}</em></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                    
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
